*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --purple-color-10:#350d36;
  --purple-color-20:#3f0e40;
  --purple-color-30:#5d3d5e;
  --white-color:#FFFFFF;
  --second-white-color:rgba(255,255,255,0.7);
  --border-color:rgb(82,38,83);
  --active-color:#1164A3;
}
a{
  color: currentColor;
  text-decoration: none;
}
li{
  list-style: none;
}
body{
  font-family: 'Roboto', sans-serif;
}